<%- include ('../partials/header'); %>
 
<main class="main main-movies container">
    <h2 class="main-h2"><%= name %></h2>
    <section class="section section-movie">
        <div class="row">
        <!-- title, posterURL, link to IMDB -->
        <% data.forEach(item => { %>
            <div class="col-md-4">
                <figure class="figure movie-figure text-center">movie
                    <a href="/movies/<%= item.id %>">
                        <img src="<%= item.posterURL %>" alt="<%= item.title %> poster" class="img-fluid poster-img">
                    </a>

                </figure>                  
            </div>
 
        <% }) %>
        </div>
    </section>
</main>
 
<%-include ('../partials/footer'); %>