<%- include('../partials/header'); %>
 
<main class="main main-single container">
    <h2 class="main-h2 text-center"><%= name %></h2>
    <section class="section section-single d-flex justify-content-between row">
 
    <!-- previous and next -->
 
    <div class="prev-and-next d-flex justify-content-around">
        <p class="prev">
            <% if(data.id > 1) { %>
                <a href="/movies/<%= data.id - 1 %> ">Previous Movie</a>
          <% } %>
        </p>
        <p class="next">
            <% if(data.id +1 < count) { %>
                <a href="/movies/<%= data.id + 1 %> ">Next Movie</a>
          <% } %>
        </p>
    </div>
    <div class="movieDiv col-md-4 d-block text-center">
        <figure class="figure figure-single row">
            <a href="https://www.imdb.com/title/<%= data.imdbId %>/" class="nav-link single-movie-link" target="_blank" >
                <img src="<%= data.posterURL %>" alt="<%= title %> poster" class="img-fluid image-single
                ">
            </a>
        </figure>
    </div>
    <div class="movieInfoDiv col md-8 d-block text-center">
        <a href="https://www.imdb.com/title/<%= data.imdbId %>/" class="nav-link single-movie-link" target="_blank" >
            <img src="<%= data.posterURL %>" alt="<%= title %> poster" class="img-fluid info-image">
            <p class="info-text"><%= data.title %></p>
            <p class="imdb-text">IMDB</p>
            <p class="imdb-text imdb-2-text">Internet Movie Database</p>
        </a>
    </div>
    </section>
</main>
 
<%- include('../partials/footer'); %>